#map {
    height: 100%;
    width: 100%;
    position: relative;
}

#map-content {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0px;
}

#map-canvas {
    height: 100%;
    width: 100%;
    position: relative;
}

